In [1]:
import pandas as pd
import numpy as np
import sys
sys.path.append("D:\GitHub\Geology-Data-Analyst\Reservoir Engineering Series")
import utilities

In [2]:
df = pd.read_csv("data\Table 1.1 Capillary Pressure Sets Example.csv")
df

     sw   pc_1   pc_2   pc_3  pc_4
0    15  93.59  28.34  12.82  6.94
1    16  66.48  20.13   9.10  4.93
2    17  46.54  14.09   6.37  3.45
3    18  39.89  12.08   5.46  2.96
4    19  33.24  10.06   4.55  2.47
5    20  31.82   9.63   4.36  2.36
6    25  22.46   6.80   3.08  1.67
7    30  16.85   5.10   2.31  1.25
8    35  13.10   3.97   1.79  0.97
9    40  11.23   3.40   1.54  0.83
10   50   7.49   2.27   1.03  0.56
11   60   6.55   1.98   0.90  0.49
12   70   6.08   1.84   0.83  0.45
13   80   5.62   1.70   0.77  0.42
14   90   5.62   1.70   0.77  0.42
15  100   5.62   1.70   0.77  0.42

In [3]:
sigma = 72 
sigma_convert = sigma * (1/68947.57)
sigma_convert
#theta = 42

0.0010442717560604383

In [4]:
sigma_utils = utilities.dyne_cm_to_psi_cm(sigma)
sigma_utils

0.0010442717560604383

In [5]:
k_1 = (15/1000)*(0.98689233 * 1E-08)
k_1

1.480338495e-10

In [7]:
k_1 = utilities.milidarcy_to_micro_m2(15) * 1E-08
k_1

1.48038495e-10